:root {
    --dark-background-color: #1F2937;
    --dark-main-text-color: #F9FAF8;
    --dark-secondary-text-color: #E5E7EB;
    --light-main-text-color: var(--dark-background-color);
    --light-secondary-text-color: #7c8084;
    --button-color: #3882F6;
    --quote-background-color: var(--dark-secondary-text-color);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    background-color: var(--dark-background-color);
}

.header-container {
    flex: 0 1 auto;
    width: 800px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--dark-main-text-color);
}

.header-list {
    display: flex;
    gap: 16px;
}

.header-listItem {
    font-size: 18px;
    font-weight: lighter;
    color: var(--dark-secondary-text-color);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: var(--dark-background-color);
}

.hero-container {
    flex: 0 1 auto;    
    width: 800px;
    display: flex;
    gap: 32px;
}

.hero-infoContainer,
.hero-imgContainer {
    flex: 1;
}

.hero-title {
    font-size: 48px;
    color: var(--dark-main-text-color);
    font-weight: 900;
}

.hero-text {
    font-size: 18px;
    color: var(--dark-secondary-text-color);
    font-weight: lighter;
    margin: 12px 0;
}

.hero-button {
    background-color: var(--button-color);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 6px 24px;
}

.hero-img {
    border: solid 1px black;
    width: 100%;
    height: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 420px;
}

.info-cells {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.info-cell {
    flex: 0 1 auto;
    width: 150px;
    text-align: center;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: var(--light-main-text-color);
    margin-bottom: 32px;
}

.info-text {
    font-size: 18px;
    color: var(--light-secondary-text-color);
    font-size: 18px;
}

.info-img {
    width: 150px;
    height: 150px;
    border: var(--button-color) 3px solid;
    border-radius: 10px;
    margin: 8px 0;
}

.quote {
    background-color: var(--quote-background-color);
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    margin: 0;
    width: 700px;
}

.quote-text {
    margin: 0;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: var(--light-main-text-color);
}

.quote-author {
    font-weight: bolder;
    text-align: right;
    font-size: 24px;
}
