:root {
    --dark-background-color: #1F2937;
    --dark-main-text-color: #F9FAF8;
    --dark-secondary-text-color: #E5E7EB;
    --light-main-text-color: #1F2937;
    --light-secondary-text-color: #7c8084;
    --button-color: #3882F6;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    background-color: var(--dark-background-color);
}

.header-container {
    flex: 0 1 auto;
    width: 800px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--dark-main-text-color);
}

.header-list {
    display: flex;
    gap: 16px;
}

.header-listItem {
    font-size: 18px;
    font-weight: lighter;
    color: var(--dark-secondary-text-color);
}
