:root {
    --dark-background-color: #1F2937;
    --dark-main-text-color: #F9FAF8;
    --dark-secondary-text-color: #E5E7EB;
    --light-main-text-color: #1F2937;
    --light-secondary-text-color: #7c8084;
    --button-color: #3882F6;
}


